/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.hero-item {
    margin-left: 15px;
    width: 300px;
    padding-top: -20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.hero-item h2 {
    margin-top: 0;
}

.hero-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.hero-item ul {
    list-style-type: none;
    padding: 0;
}

.hero-item ul li {
    margin-bottom: 5px;
}
#data-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}