
body {
    background-color: #541414;
    margin: 20px;
}



.hero-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.hero-table th, .hero-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}



.hero-table tr:hover {
    background-color: #555;
}

.hero-table img {
    display: block;
    margin: 0 auto;
}
.hero-table .powerstats{
    padding-top: 35px;
    padding-bottom: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.hero-table .powerstats img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    justify-content: space-between;
}